@use 'variables' as *;

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $gray-900;
}

main {
    @include flex-center;
    height: 100vh;
}

.card {
    width: 340px;
    height: 550px;
    background-color: $gray-800;
}