@use 'variables' as *;

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $gray-900;
}

main {
    @include flex-center;
    height: 100vh;
}

.card {
    width: 340px;
    height: 590px;
    background-color: $gray-800;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0.5em;
    text-align: center;
}